%p This is a super simple service for generating different HTTP codes.
%p
    Just add the status code you want to the URL, like this:
    %a{:href => "http://httpstat.us/200"} httpstat.us/200
%p We'll generally return a response like this:
%code
    :preserve
        HTTP/1.1 {status code} {status description}
        Content-Type: text/plain
        Content-Length: {something}
        {any custom response headers}

        {status code} {status description}
        {list of any custom response headers we added}
%p Here are all the codes we support (and any special notes):
%dl
    - statuses.each do |s|
        %dt= s['value']['status']
        %dd= s['value']['description']
        - if s['value']['excludeBody']
            %dd.note
                Won't return a response body
        - if s['value']['headers']
            %dd.note
                - singleHeader = s['value']['headers'].length == 1
                = "Will also return #{singleHeader ? "this" : "these"} extra #{singleHeader ? "header" : "headers"}:"
                = s['value']['headers'].collect {|h| h[0] + ': ' + h[1]}.join(", ")
%p If you send any other three digit number that's not in that list, we'll return it too.
%p Don't have too much fun!