@model Teapot.Web.Models.StatusCodeResults

<p>This is a super simple service for generating different HTTP codes.</p>
<p>It's useful for testing how your own scripts deal with varying responses.</p>
<p>
    Just add the status code you want to the URL, like this:
    @Html.RouteLink("httpstat.us/200", "StatusCode", new {statusCode = 200})
</p>
<p>We'll return a response like this:</p>
<code>HTTP/1.1 {status code} {status description}
Content-Type: text/plain
Content-Length: {something}
{any custom response headers}

{status code} {status description}
{list of any custom response headers we added}</code>
<p>Here are all the codes we support (and any special notes):</p>
<dl>
    @foreach (var item in Model)
    {
        <dt>@Html.RouteLink(item.Key.ToString(), "StatusCode", new {statusCode = item.Key})</dt>
        <dd>
        @if(item.Value.Link != null)
        {
            <a href="@item.Value.Link" target="_blank" title="@item.Value.Description">@item.Value.Description</a>
        }else
        {
            @item.Value.Description
        }
        </dd>
    }
</dl>
<p>If you send any other three digit number that's not in that list, we'll return it too.</p>
<p>Enjoy!</p>