@model Teapot.Web.Models.TeapotStatusCodeResults

<p>This is a super simple service for generating different HTTP codes.</p>
<p>It's useful for testing how your own scripts deal with varying responses.</p>
<p>
    Just add the status code you want to the URL, like this:
    @Html.RouteLink("httpstat.us/200", "StatusCode", new {statusCode = 200})
</p>
<p>We'll return a response like this:</p>
<code>HTTP/1.1 {status code} {status description}
Content-Type: text/plain or application/json
Content-Length: {something}
{any custom response headers}

{status code} {status description}
{list of any custom response headers we added}</code>

<p>
    To get a JSON response back, you need to ensure that the Accept header contains 'application/json'. Then we'll JSON encode the response and send the Content-Type header accordingly.
</p>

<p>
    If you want a delay on the response add a query string of sleep (the time in ms, max 5 minutes*), like this:
    @Html.RouteLink("httpstat.us/200?sleep=5000", "StatusCode", new {statusCode = 200, sleep = 5000})
    <br />
    <em>*When using the hosted instance the timeout is actually 230 seconds, which is the max timeout allowed by an Azure App Service (see <a href="https://social.msdn.microsoft.com/Forums/en-US/05f254a6-9b34-4eb2-a5f7-2a82fb40135f/time-out-after-230-seconds?forum=windowsazurewebsitespreview" target="_blank">this thread post</a>). If you host it yourself in IIS/IIS Express you won't have that limit.</em>
</p>

<p>Here are all the codes we support (and any special notes):</p>
<dl>
    @foreach (var item in Model)
    {
        <dt>@Html.RouteLink(item.Key.ToString(), "StatusCode", new {statusCode = item.Key})</dt>
        <dd>
        @if(item.Value.Link != null)
        {
            <a href="@item.Value.Link" target="_blank" title="@item.Value.Description">@item.Value.Description</a>
        }else
        {
            @item.Value.Description
        }
        </dd>
    }
</dl>
<p>If you need to enable <a href="https://developer.mozilla.org/docs/Web/HTTP/CORS" target="_blank" rel="noopener">CORS</a>, just add /cors at the end of the URL. For example: @Html.RouteLink("httpstat.us/200/cors", "Cors", new {statusCode = 200}).</p>

<p>If you send any other three digit number that's not in that list, we'll return it too. Or, <a href="https://github.com/Readify/httpstatus">send us a pull request</a> to add full support for a new code.</p>
<p>Enjoy!</p>
